<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Points", points_path %></li>
  <li class="breadcrumb-item active mr-auto"><%= @point.id %></li> 
</ol>
<div class="card shadow-sm">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p class="font-weight-bold">Text</p>
      <p class="font-weight-normal"><%= @point.text %></p>
    </li>
    <li class="list-group-item">
      <p class="font-weight-bold">Reason</p>
      <p class="font-weight-normal"><%= @point.reason %></p>
    </li>
  </ul>
</div>